services:
  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: matched
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - internal

  backend:
    image: python:3.13.3
    container_name: backend
    working_dir: /app
    volumes:  
      - ./backend:/app
    command: >
      sh -c "pip install -r requirements.txt &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_NAME=db_name
      - DB_USER=user
      - DB_PASSWORD=password
    networks:
      - internal

  backoffice:
    image: node:18-alpine
    container_name: backoffice
    working_dir: /app
    volumes:
      - ./backoffice:/app
      - /app/node_modules
    command: >
      sh -c "npm install &&
      npm run dev"
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000/api
    networks:
      - internal
networks:
  internal:
  
volumes:
  db_data:
