# Ignore node_modules folder
node_modules/

# Ignore environment variable files
.env
.env.local

# Ignore log files
*.log

# Ignore build output
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/
*.iml

# Ignore Python compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore Django migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/
*/migrations/*.py

# Ignore SQLite database
db.sqlite3

# Ignore test coverage reports
htmlcov/
.coverage
.coverage.*

# Ignore static and media files
staticfiles/
media/

# Ignore pip environment files
pip-log.txt
pip-delete-this-directory.txt

# Ignore virtual environments
venv/
.env/