# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencias
/node_modules

# Compilación y build
/.next
/out
/build

# Archivos de bloqueo
package-lock.json
yarn.lock
.pnpm-lock.yaml

# Archivos de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Archivos de entorno
.env*
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
