# Ignore node_modules directory
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore environment variables
.env

# Ignore build outputs
dist/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE files
.idea/
.vscode/
*.swp